{% extends 'base.html' %}

{% block body %}
<h2 style="text-align: center;">待ち牌計算</h2>

<form class="m-5" action="/win_tile" method="POST">
    <div class="form-group" style="text-align: center;">
      <label class="form-label">萬子<input type="number" class="form-control" name="man"></label>
      <label class="form-label">筒子<input type="number" class="form-control" name="pin"></label>
      <label class="form-label">筒子<input type="number" class="form-control" name="sou"></label>
      <label class="form-label">字牌<input type="number" class="form-control" name="honors"></label>
    </div>
    <div style="text-align: center; margin-top: auto;"><button type="submit" class="btn btn-primary">計算</button></div>    
</form>





{% endblock %}